/***Fuentes***/
/***Colores***/
/***Sombreado***/
/***Bordes***/
#hero {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: #1445b3;
  background-size: contain;
  padding: 30px 10px;
  font-size: 22px;
}
#hero img {
  width: 80%;
}
#hero h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
#hero h2 span {
  display: block;
  color: #74b5fc;
  text-decoration: underline;
  width: 100%;
}

#portfolio {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0 15px;
}
#portfolio .flexbox-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#portfolio .flexbox-row .portfolio-filters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}
#portfolio .flexbox-row .portfolio-filters .filters-boton {
  color: #007bff;
  background-color: #ecf5ff;
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#services {
  background-color: #ecf5ff;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#services header p {
  color: #556877;
  line-height: 1.5;
}
#services #services-cards {
  width: 100%;
}
#services #services-cards .services-card {
  padding: 0px 15px 10px 25px;
  margin: 0 10px 40px 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}
#services #services-cards .services-card .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 40px);
}
#services #services-cards .services-card .icon .fas {
  font-size: 60px;
}
#services #services-cards .services-card .icon .fa-chart-line {
  color: #ff689b;
}
#services #services-cards .services-card .icon .fa-book-open {
  color: #e9bf06;
}
#services #services-cards .services-card .icon .fa-file-alt {
  color: #3fcdc7;
}
#services #services-cards .services-card .icon .fa-tachometer-alt {
  color: #41cf2e;
}
#services #services-cards .services-card .icon .fa-globe {
  color: #d6ff22;
}
#services #services-cards .services-card .icon .fa-clock {
  color: #4680ff;
}
#services #services-cards .services-card h4 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  margin-left: 40px;
}
#services #services-cards .services-card h4 a {
  text-decoration: none;
  color: #111;
  transition: 0.5s;
}
#services #services-cards .services-card p {
  font-size: 14px;
  line-height: 24px;
  margin-left: 40px;
  margin-bottom: 0;
  text-align: left;
}

body {
  color: #283d50;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

h3 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1.2;
}

.section-header {
  width: 100%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-size: contain;
  padding: 60px 15px 60px;
  text-align: center;
}

.section-header {
  display: block;
  box-sizing: border-box;
}

.flexbox-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.boton {
  border: 2px solid;
  border-radius: 50px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  margin: 0 20px 20px 0;
  padding: 10px 30px;
  transition: 0.5s;
}

.b-azul {
  background-color: #007bff;
  border-color: #007bff;
}

.b-blanco {
  border-color: #fff;
}

/*# sourceMappingURL=estilos.css.map */
