/***Colores***/
$blanco: #fff;
$negro: #444;
$texto: #283d50;
$azulmedio: #007bff;
$azulclaro: #ecf5ff;

$menutexto: #004289;
$menutextoclaro: $azulmedio;

$herofondoazul: #1445b3;
$heroazul: #74b5fc;
$heroboton: $azulmedio;

$abouticonos: $azulmedio;

$servicesfondo: $azulclaro;
$serviceshover: $azulmedio;
$rosa: #ff689b;
$turquesa: #3fcdc7;
$amarillo: #d6ff22;
$naranja: #e9bf06;
$verde: #41cf2e;
$azul: #4680ff;

$chooseazul: #004a99;
$choosecards: #00458f;
$choosecardshover: #003b7a;
$choosecardsiconos: #bfddfe;
$choosecardstexto: #d8eafe;

$portfolioboton: $azulclaro;
$portfoliobotonhover: $azulmedio;
$cardsboton: $azulmedio;

$testimoniospunto: $azulmedio;

$teamhover: rgba(0, 62, 128, 0.7);
$teamsocialhover: $azulmedio;

$clientesfondo: $azulclaro;

$contactboton: $azulmedio;
$contacthover: #0067d5;
$contacticon: $azulmedio;

$footertexto: #eee;
$footerfondo: #00428a;
$footerfondoclaro: #004a99;
$footerboton: #007bff;
$footerbotonsocialhover: #0067d5;
$footerbotonhover: #0062cc;

$backtotop: #007bff;
$backtotophover: #0b6bd3;

/***Fuentes***/
$titulo: 'Montserrat', sans-serif;
$parrafo: 'Open Sans', sans-serif;