/***Fuentes***/
$titulo: 'Montserrat', sans-serif;
$parrafo: 'Open Sans', sans-serif;

/***Colores***/
$blanco: #fff;
$gris: #444;
$negro: #212529;
$texto: #283d50;
$azulmedio: #007bff;
$azulclaro: #ecf5ff;
$grisazul: #556877;

$menutexto: #004289;
$menutextoclaro: $azulmedio;

$herofondoazul: #1445b3;
$heroazul: #74b5fc;

$abouticonos: $azulmedio;

$servicesfondo: $azulclaro;
$serviceshover: $azulmedio;
$servicesh4: #111;
$rosa: #ff689b;
$turquesa: #3fcdc7;
$amarillo: #d6ff22;
$naranja: #e9bf06;
$verde: #41cf2e;
$azul: #4680ff;

$chooseazul: #004a99;
$choosecards: #00458f;
$choosecardshover: #003b7a;
$choosecardsiconos: #bfddfe;
$choosecardstexto: #d8eafe;

$portfolioboton: $azulclaro;
$portfoliobotonhover: $azulmedio;
$cardsboton: $azulmedio;

$testimoniospunto: $azulmedio;

$teamhover: rgba(0, 62, 128, 0.7);
$teamsocialhover: $azulmedio;

$clientesfondo: $azulclaro;

$contactboton: $azulmedio;
$contacthover: #0067d5;
$contacticon: $azulmedio;

$footertexto: #eee;
$footerfondo: #00428a;
$footerfondoclaro: #004a99;
$footerboton: #007bff;
$footerbotonsocialhover: #0067d5;
$footerbotonhover: #0062cc;

$backtotop: #007bff;
$backtotophover: #0b6bd3;

/***Sombreado***/
$sombraseccion: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
$sombracard: 0 10px 29px 0 rgba(68, 88, 144, 0.1);

/***Bordes***/
$bordesuave: 15px;
$bordemedio: 50px;
$redondo: 50%;