* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
}
.menu {
    width: 90%;
    margin: 20px auto;
    background-color: blue;
    text-decoration: none;
    list-style: none;
}

.submenu {
    display: none;
}
header nav ul li {
    float: left;
}
